[2020-02-23 06:05] rabeehrz opened #3 "Missing , and Empty RichText"
Hello.

I was just setting up the environment and found some build errors.

- Missing , at line 120

https://github.com/smaranjitghose/girlscript_app/blob/da90ebed8aed250300916303d6c2daf253e22db0/lib/home.dart#L117-L123

- Empty Rich Text at line 166

https://github.com/smaranjitghose/girlscript_app/blob/da90ebed8aed250300916303d6c2daf253e22db0/lib/home.dart#L164-L168

I would like to fix these is

[2020-02-24 12:15] rabeehrz opened #4 "Migrating to AndroidX"
The current app uses old dependencies. I think the App should be migrated to use the new AndroidX dependencies before anything else.

[2020-02-29 07:01] vipuldcoder commented on #4
I am interested with the issue.

[2020-02-29 08:06] kmrakash opened #5 "Bottom-Navigation Bar"
I would like to work on this issue

[2020-02-29 15:24] algokun opened #6 "create a mockup for the entire app"
As there are no mockups for the app. Please create mockups for the app.

Its better to include the following pages for  UI
Login
Home
Signup
Events

[2020-02-29 16:41] AjinkyaTaranekar commented on #5
I would like to work on this issue. Moreover, I suggest the following design, for bottom navigation.
![image](https://user-images.githubusercontent.com/44701159/75611398-34cb6180-5b40-11ea-8af6-877b641ec9ee.png)

[2020-02-29 20:11] smaranjitghose opened #8 "Improve Documentation"
Currently, README requires some improvements to improve visual inspection of all details for new beginners:(Section wise)
-a description about how flutter works and its widgets
-some details about the different components we have here
-anything else you wish..give a pull request..we will review and confirm

[2020-02-29 20:51] smaranjitghose opened #9 "Add splash Screen for the application"

[2020-02-29 21:00] smaranjitghose commented on #8
Currently, the  README requires some improvements to improve visual inspection of all details for new beginners.

[2020-02-29 21:07] smaranjitghose opened #10 "AndroidX Integration"

[2020-03-01 00:35] rohg007 commented on #9
Hello, can I work on this?

[2020-03-01 00:49] smaranjitghose commented on #9
Yes

[2020-03-01 01:29] infiniteoverflow commented on #8
i would like to contribute to this. May i know what all should be there?

[2020-03-01 03:29] AjinkyaTaranekar commented on #10
Hello sir, I want to work on this issue.

[2020-03-01 03:31] AjinkyaTaranekar commented on #8
Hello sir, I would like to contribute towards this, could you tell what points do I need to mention.

[2020-03-01 04:54] VibavariG commented on #8
I would like to contribute to this. Please guide me with what all points I should include

[2020-03-01 05:17] vyom153069 commented on #5
i want to work on this issue , i can do it , please allow me to do this

[2020-03-01 06:15] smaranjitghose commented on #10
Go forward @AjinkyaTaranekar

[2020-03-01 06:17] AjinkyaTaranekar commented on #10
Sure sir, Thank You!

[2020-03-01 06:44] annu12340 commented on #8
I would also like to work on it

[2020-03-01 07:05] swat1998 opened #14 "Adding a notification button to home screen"
To make a notification button on the  top right corner of the app home screen on the app bar. This button when clicked should redirect to a page with different notification in the list view. (make a empty function for the page.)

[2020-03-01 07:08] swat1998 opened #15 "Add more fonts for the app to be used"
Add more fonts and declare it in the pubspec.yaml file.

[2020-03-01 07:12] swat1998 opened #16 "Projects page is empty"
Add scrollable cards to the page with 3 icons (arbitrary icons can be used for now).

[2020-03-01 07:18] swat1998 opened #17 "Add custom icon pack"
Add custom icon pack and declare it to pubspec.yaml file for further use(should have the popular icons e.g. github, linked in, etc.)

[2020-03-01 07:19] infiniteoverflow commented on #14
I would like to work on this

[2020-03-01 07:19] #17 closed

[2020-03-01 07:20] infiniteoverflow commented on #14
Should it be placed alongside the drawer icon??

[2020-03-01 07:20] swat1998 commented on #17
A new issue will be up with a similar agenda

[2020-03-01 07:21] infiniteoverflow commented on #16
I would like to work on this issue.

[2020-03-01 07:22] swat1998 opened #18 "Add custom icon pack"
Add a custom icon pack with popular icons of apps e.g. linked in, github, etc.

[2020-03-01 07:27] swat1998 commented on #16
Go ahead!!

[2020-03-01 07:29] minolipvartak commented on #8
I want to work on this issue to document the overview of the app

[2020-03-01 07:32] smaranjitghose opened #20 "Minor bug fix in home page"

[2020-03-01 07:35] minolipvartak commented on #6
I want to work on this issue. I am intetested in designing pages for the app @algokun

[2020-03-01 07:39] annu12340 commented on #15
I would like to work on this

[2020-03-01 07:39] infiniteoverflow commented on #14
@swat1998 I have added this feature

[2020-03-01 07:40] infiniteoverflow commented on #16
@swat1998  Should the scrollable cards be horiz or vertical??

[2020-03-01 07:49] smaranjitghose commented on #15
Go ahead

[2020-03-01 07:49] smaranjitghose commented on #3
Go Ahead

[2020-03-01 08:10] himanshusharma89 commented on #20
Assign me this issue.

[2020-03-01 08:13] smaranjitghose commented on #20
Go ahead..

[2020-03-01 08:18] ousnik opened #21 "Add a Bottom Navigation Bar"
Remove the Existing Drawer and Replace it with a stylized modern looking bottom navigation bar  with appropriate Icons .
Add the following items:
-  Home
- Events
- Projects
- About Us

[2020-03-01 08:23] himanshusharma89 commented on #21
Assign me this issue

[2020-03-01 08:24] himanshusharma89 commented on #18
Assign me this issue.

[2020-03-01 08:24] himanshusharma89 commented on #16
I have developed this screen, if you like you can assign me this issue

[2020-03-01 08:26] vishakha2108 commented on #21
I would like to work on this

[2020-03-01 08:26] himanshusharma89 commented on #9
Hello, I have developed the splash screen, if you like you can assign me this issue

[2020-03-01 08:29] himanshusharma89 opened #22 "Create card carousel for home page."

[2020-03-01 08:29] himanshusharma89 commented on #22
I would like to take this issue.

[2020-03-01 08:30] himanshusharma89 opened #23 "Improve UI/UX of drawer"

[2020-03-01 08:30] himanshusharma89 commented on #23
I would like to work on this issue

[2020-03-01 08:32] himanshusharma89 opened #24 "Develop About Us screen/widget"

[2020-03-01 08:32] ousnik opened #25 "Add a ListView of Cards to Events"
Create and optimized listview in the events page. The items in the listview have to be cards.
Preferably the cards should be simplistic yet stylish containing the following details about event:

- Name of event
- Organizer
- Date
- Time
- Venue
- Fee
- A button to register for it

[2020-03-01 08:33] himanshusharma89 commented on #24
I would like to work on this widget.

[2020-03-01 08:33] voldemortuk commented on #21
I would like to work on this issue

[2020-03-01 08:34] Valdermaut commented on #5
I would like to work on this issue

[2020-03-01 08:34] ousnik commented on #22
What would you like to display in the cards?

[2020-03-01 08:35] ousnik commented on #23
We would like to have a Bottom nav bar instead of a drawer. You can claim that issue if you want to.

[2020-03-01 08:35] #23 closed

[2020-03-01 08:40] himanshusharma89 commented on #22
You can provide me with the data as shown in this image.
https://raw.githubusercontent.com/sukkritsharmaofficial/PyDepo/master/Girlscript%20ui/Home.png

[2020-03-01 08:50] himanshusharma89 commented on #25
I would like to work on this issue.

[2020-03-01 09:09] AjinkyaTaranekar commented on #21
I would like to work on this issue. Moreover, I suggest the following design, for bottom navigation.
image
![image](https://user-images.githubusercontent.com/44701159/75622819-7d2f6180-5bca-11ea-82b5-8ae962aecdb3.png)

[2020-03-01 09:12] smaranjitghose commented on #9
Its already assigned to @rohg007 ... Once he's done..if we need any improvments..you can give a PR for it

[2020-03-01 09:12] AjinkyaTaranekar commented on #18
Hello @swat1998, I would like to add the custom icon pack! Please assign me this issue.

[2020-03-01 09:17] smaranjitghose commented on #5
@vyom153069  Go forward

[2020-03-01 09:19] smaranjitghose commented on #21
@Valdermaut  Go forward

[2020-03-01 09:20] bharat-1809 commented on #25
@ousnik I would like to work on this issue.

[2020-03-01 09:22] bharat-1809 commented on #18
@swat1998 I would like to work on this issue, please assign me this issue

[2020-03-01 09:22] rohg007 commented on #9
What implementation of Splash Screen are we looking for, like a single dart version. Or separate versions for Android and iOS?

[2020-03-01 09:24] smaranjitghose commented on #18
@AjinkyaTaranekar  Go forward

[2020-03-01 10:45] smaranjitghose opened #30 "Create the Basic Homepage for GirlScript Chennai website"
Create the main ```index.html``` file in the https://github.com/smaranjitghose/girlscript_app/tree/master/website directory

[2020-03-01 10:49] smaranjitghose opened #31 "Create the events page for GirlScript Chennai website"

[2020-03-01 11:10] rabeehrz commented on #30
Hello. I’d like to work on this issue. Please assign this to me.

[2020-03-01 11:20] himanshusharma89 commented on #30
Hey! I would like to work on this issue.

[2020-03-01 11:30] smaranjitghose commented on #30
@himanshusharma89 Go ahead

[2020-03-01 11:31] smaranjitghose commented on #30
also make sure the images that you use are catered for GirlScript Chennai only..Try to design them..have a separate assets folder so that in future we can update the design

[2020-03-01 11:31] rabeehrz commented on #30
@smaranjitghose May I please know why I wasn’t assigned to this issue?

[2020-03-01 11:33] smaranjitghose opened #32 "Create the Contact us page for GirlScript Chennai website"

[2020-03-01 11:42] smaranjitghose commented on #30
@rabeehrz I wanted to work on the update of the home page and @himanshusharma89  has already given so many updates for the app within a short time.Hence I assigned it to him so that once the basic home page is done you and the others can work on integrating other stuff

[2020-03-01 11:43] bharat-1809 commented on #25
Thanks @smaranjitghose for assigning me this issue

[2020-03-01 11:46] AjinkyaTaranekar commented on #32
I would like to work on this issue. @smaranjitghose will this use Flutter Web?

[2020-03-01 11:47] rabeehrz commented on #30
@smaranjitghose Yeah okay. I think it should be done using some Framework though.

[2020-03-01 11:48] rabeehrz commented on #31
I’d like to work on this issue.

[2020-03-01 11:52] smaranjitghose commented on #32
No we are creating a separate website

[2020-03-01 11:52] smaranjitghose commented on #30
Once @himanshusharma89 is done is with this..I'll create an Update issue..you can take over from there

[2020-03-01 11:53] rabeehrz commented on #30
@smaranjitghose That sounds good. ♥️

[2020-03-01 11:56] AjinkyaTaranekar commented on #32
So, just HTML, CSS and JS?

[2020-03-01 11:58] smaranjitghose opened #35 "Remove repeated imports and related bugs"

[2020-03-01 11:59] smaranjitghose commented on #8
@minolipvartak  Go forward

[2020-03-01 12:17] smaranjitghose commented on #31
Assigned..Make sure you use the https://github.com/smaranjitghose/girlscript_app/tree/master/website directory

[2020-03-01 12:17] smaranjitghose commented on #32
Ya..for now

[2020-03-01 12:18] shvamabps opened #36 "The UI can be much simpler"
the navbar can be removed with a single page to work on
as the same way as ids work on the html site
this would reduce the new screen appearance and also would make the navigation to links much easier

[2020-03-01 12:19] smaranjitghose opened #37 "Create a Blog Section in the Website that can be integrated with Medium"

[2020-03-01 12:24] AjinkyaTaranekar commented on #32
Ohkay, then I would like to work upon.

[2020-03-01 12:25] shvamabps opened #38 "Tracking"
The app can track the  events conducted , members joining and previously joined to community,  meetups etc .this app would also provide the exact location where the next event is going to be conducted using maps api. and everything will managed under Firestore.  People can request to organise meetups at there location which may be conducted by local community .
The notifications can be easily mana

[2020-03-01 12:26] #36 closed

[2020-03-01 12:26] Anushka-shukla commented on #35
Sir I have done it.

[2020-03-01 12:48] manan-bedi2908 commented on #32
I would like to work on this issue

[2020-03-01 13:00] Anushka-shukla commented on #22
Anyone has been assigned this issue yet? I would like to work upon this.

[2020-03-01 13:25] dwvicy commented on #37
I'd like to work on this

[2020-03-01 13:55] goyalmuskan commented on #37
I want to work on the issue. Please assign me the same. @smaranjitghose @sukkritsharmaofficial

[2020-03-01 14:11] smaranjitghose commented on #9
Primarily  for android

[2020-03-01 14:14] smaranjitghose commented on #37
@dwvicy go forward...take the next 8 days..if you can't  complete  it then it shall be reassigned to @goyalmuskan

[2020-03-01 14:18] smaranjitghose opened #39 "Create Icons and Other Images for the GirlScript Chennai website"
Inside the website folder create a folder assets and store it there.
Please make 3 at a time and give a PR..so that others can be given chance as well

[2020-03-01 14:19] goyalmuskan commented on #22
Please assign me with this issue if it's still unassigned! @smaranjitghose

[2020-03-01 14:20] goyalmuskan commented on #39
Please assign me this issue, I want to work on it. @smaranjitghose

[2020-03-01 14:23] sanket9918 commented on #39
I also want to work on the same @smaranjitghose

[2020-03-01 14:24] sanket9918 commented on #32
I would like to work on it on React. I can also help in converting it to a component for reusability.

[2020-03-01 14:45] smaranjitghose commented on #39
For the next 7 days it's assigned  to @goyalmuskan

[2020-03-01 14:47] goyalmuskan commented on #39
Can you please brief me on what's required of me? What kind of icons and images? @smaranjitghose

[2020-03-01 14:51] smaranjitghose commented on #22
Assigned to @goyalmuskan for next 7 days

[2020-03-01 14:53] goyalmuskan commented on #22
Can you please provide me with the data? @smaranjitghose

[2020-03-01 15:15] PratilipiAich commented on #6
I would also like to work on this. @algokun

[2020-03-01 17:52] krabhisharma commented on #30
hey I would like to work on this

[2020-03-01 18:03] krabhisharma commented on #6
what is  mockups?

[2020-03-01 18:40] smaranjitghose commented on #39
@goyalmuskan  could you please speak to me or any of the others in DM in slack...That way its easier to share

[2020-03-01 19:42] #3 closed

[2020-03-01 19:43] #10 closed

[2020-03-01 19:43] #18 closed

[2020-03-01 19:56] smaranjitghose opened #41 "Improve the documentation for GirlScript Chennai website"
Start with updating with some resources to start with and then as the other members build on give a complete description of the same

[2020-03-01 23:10] rohg007 commented on #9
I've developed one for android, natively so that the white screen that generally appears doesn't appear. I'm working on the iOS one so shall I make a combined PR or 2 separate PRs?

[2020-03-02 03:00] smaranjitghose commented on #9
Make separate  2 PRs

[2020-03-02 03:47] rabeehrz commented on #31
@smaranjitghose I guess I should wait for the home page to be created so that I can use that as a template?

[2020-03-02 05:41] Aju100 commented on #41
@smaranjitghose  can u assinged for this.

[2020-03-02 06:38] Swati0604 commented on #41
@smaranjitghose Please assign me this work.

[2020-03-02 06:39] dwvicy commented on #41
I can work on this as this would help me understand the issue I'm working on currently.

[2020-03-02 08:53] puneethkanna opened #44 "Image path"
Errors while displaying the images. It is showing the path is wrong.

[2020-03-02 10:03] puneethkanna opened #45 "wrong spacing in pubspec.yaml for assets."
Please assign me this issue, I have already fixed it.

[2020-03-02 10:04] puneethkanna commented on #44
I have already fixed this, please assign me the issue.

[2020-03-02 11:08] smaranjitghose commented on #41
@Aju100  and  @dwvicy  Work together  for this and give separate PRs for adding  different  section

[2020-03-02 12:16] puneethkanna commented on #44
Fixed by merging recently.

[2020-03-02 12:16] #44 closed

[2020-03-02 12:17] puneethkanna commented on #45
Fixed by merging recently.

[2020-03-02 12:17] #45 closed

[2020-03-02 14:35] #38 closed

[2020-03-02 16:16] algokun commented on #6
@smaranjitghose could you please check this issue?

[2020-03-02 16:52] #30 closed

[2020-03-02 17:22] himanshusharma89 opened #49 "Create Events Page for the application"

[2020-03-02 17:22] himanshusharma89 commented on #49
I would like to work on this.

[2020-03-02 17:23] Aju100 commented on #41
@dwvicy  hello we should divide our tasks so we can work together

[2020-03-02 17:46] smaranjitghose commented on #41
Please use  the slack  DMs for such conversations

[2020-03-02 17:47] smaranjitghose commented on #31
The home page is done..please proceed

[2020-03-02 17:50] smaranjitghose commented on #32
@AjinkyaTaranekar has been assigned  this for a week..once his PR is reviewed..
 @manan-bedi2908 and @sanket9918 ..the mentors will raise some specific issues for the events page and you can proceed then

[2020-03-02 17:53] smaranjitghose commented on #37
@dwvicy the main home page is up..create a separate page for blog..discuss with the mentors in the slack channel if you  need any assistance ...Give  a PR for that first

[2020-03-02 17:54] smaranjitghose commented on #37
After that work on integration  with Medium..

[2020-03-02 19:10] puneethkanna commented on #14
This issue is still open, even though it is merged.

[2020-03-02 19:13] HarshMehta2468 commented on #32
I'd like to work on this issue too.

[2020-03-02 19:13] puneethkanna commented on #21
I had prepared a navigation bar, can I work on it.

[2020-03-02 19:15] #6 closed

[2020-03-02 19:18] smaranjitghose commented on #49
@himanshusharma89 someone is already  being assigned this

[2020-03-02 19:18] #49 closed

[2020-03-02 19:21] smaranjitghose opened #50 "Create an achievements page for GirlScript Chennai website"
This is so that we can potray our members achievements  in various hackathons/competitions/conferences

[2020-03-02 19:23] smaranjitghose commented on #41
The initial  Home Page is up..you  can use  it for reference
As of now we plan:
Home  page
Events  page
Achievements  page
Team page
Blog page(redirecting  to medium)
Contact us page

[2020-03-02 19:26] Anushka-shukla commented on #9
Sir I have made an improved splash screen.

[2020-03-02 19:29] smaranjitghose commented on #9
Make a PR..since @rohg007 is assigned  this..first the mentors  will review it and see its free of conflicts  to merge..then yours will be considered for this issue

[2020-03-02 19:31] smaranjitghose commented on #6
@algokun if you can collab with the others who are making the  Home,Events,Achievements,Team  and Contact Us page and the mentors for some insight  into the actual  content..i don't  mind having this as a official  issue

[2020-03-02 19:32] smaranjitghose commented on #32
@AjinkyaTaranekar the intial home page is please check and proceed  accordingly  with the contact us page

[2020-03-02 19:33] smaranjitghose commented on #32
@mySTRiouscoder sure..once  the mentors raise an issue for updating  the page..you  can start off

[2020-03-02 19:34] smaranjitghose commented on #21
If you  wish..make a pull request..however  it shall be considered  once the currently assigned  mentees work gets merged  after review from mentors

[2020-03-02 19:35] puneethkanna opened #51 "Overflow in about us page"
Please assign me this issue, I had fixed it and renamed the aboutUs.dart file to Aboutus.dart

[2020-03-02 22:22] #51 closed

[2020-03-03 02:59] manan-bedi2908 commented on #50
I would like to work on this issue

[2020-03-03 03:49] himanshusharma89 commented on #50
I would like to work on this.

[2020-03-03 04:52] dwvicy commented on #37
So would I have to embed the blog onto the website to just redirect?

[2020-03-03 05:19] #20 closed

[2020-03-03 09:36] ousnik opened #58 "Create a events description page"
When tapping on a project item, it should be redirected to its description page. The data related to the tapped item has to be displayed.
The page should have a very good design.
The following data should be displayed:
Name
Organizer(with logo)
Description
Date Time Venue
Poster of the event
related links

Note: Prefer a hero animation for the logo of the organizer.

[2020-03-03 10:01] infiniteoverflow commented on #58
@ousnik is it for web??

[2020-03-03 10:15] Dadaabhis commented on #50
I woild like. To work on this..

[2020-03-03 12:21] vinay2214 commented on #32
i would like to work on it

[2020-03-03 12:48] himanshusharma89 commented on #58
@ousnik
I would like to work on this issue.

[2020-03-03 13:32] AjinkyaTaranekar commented on #32
@smaranjitghose Sure, I am currently making its UI, and I want a suggestion in the feedback form, should I connect it to google sheets for the response.

[2020-03-03 14:02] vinay2214 commented on #32
yes you can.

On Tue, 3 Mar, 2020, 19:02 Ajinkya Taranekar, <notifications@github.com>
wrote:

[2020-03-03 14:07] ousnik commented on #58
This issue will be assigned after the event page first draft has been merged.

[2020-03-03 14:28] himanshusharma89 commented on #58
@ousnik
Okay, till then you can assign someone for this issue.

[2020-03-03 14:33] mySTRiouscoder opened #60 "Create a Hover effect for the social media icons present in the footer section"
I saw the website and have actually worked on this issue thereby increasing the icon size when mouse hovered over them and make them look appealing than the previous design .
Also, added 'Linkedin'  social media button/logo/icon.

[2020-03-03 14:49] HarshMehta2468 commented on #60
@ousnik  I have merged the PR for #60

[2020-03-03 14:53] HarshMehta2468 commented on #39
May i work on this issue as well?

[2020-03-03 18:16] #41 closed

[2020-03-03 18:32] smaranjitghose opened #62 "Work on the Contributing.MD file for the App"
Push it to the root directory at the master branch

For References:

- https://help.github.com/en/github/building-a-strong-community/setting-guidelines-for-repository-contributors

- https://github.com/atom/atom/blob/master/CONTRIBUTING.md

- https://github.com/opengovernment/opengovernment/blob/master/CONTRIBUTING.md

[2020-03-03 18:38] smaranjitghose opened #63 "GitHub Page for the Project"
- Learn how to create GitHub pages
- Create a GitHub page for this project  inside a folder ```doc``` at the root directory of the master branch
- Take up from the readme of the project to start with
- Make it appealing with whatever you love

[2020-03-03 18:41] smaranjitghose opened #64 "Work on the Home Page for the GirlScript Chennai Website"
- Try to improve it as much as possible in terms of features and design
- Suggestions:
  - Add social media icons
  - Add location
  - Improve the logo

Please create separate pull requests for each feature you add

[2020-03-03 18:45] infiniteoverflow commented on #63
I would like to work on this

[2020-03-03 18:47] smaranjitghose commented on #63
@infiniteoverflow Go Ahead..

[2020-03-03 19:11] #60 closed

[2020-03-03 19:26] HarshMehta2468 commented on #64
Can you assign this issue to me @smaranjitghose ?

[2020-03-04 02:06] infiniteoverflow commented on #16
@swat1998 i have added the screen and made a PR

[2020-03-04 05:50] himanshusharma89 commented on #62
@smaranjitghose
I would like to work on this issue.

[2020-03-04 07:20] ousnik opened #65 "Create a project description page"

[2020-03-04 07:32] himanshusharma89 commented on #65
I would like to work on this.

[2020-03-04 14:05] nishantsharma09 commented on #62
@smaranjitghose  Can I work on this issue?

[2020-03-04 15:17] AjinkyaTaranekar commented on #32
@smaranjitghose I tried to connect the form to google sheets, but data is not being sent into the sheets. Can you help?

[2020-03-04 15:57] vinay2214 commented on #32
yes can I try?

On Wed, 4 Mar, 2020, 20:47 Ajinkya Taranekar, <notifications@github.com>
wrote:

[2020-03-04 15:59] vinay2214 commented on #21
I would like to work on it iam a android developer.

[2020-03-04 18:46] smaranjitghose commented on #32
@AjinkyaTaranekar What error are you facing?.. @vinay2214 try it

[2020-03-04 18:59] #16 closed

[2020-03-04 19:35] atrip10 commented on #50
i would like to work on this

[2020-03-04 19:45] smaranjitghose commented on #50
@atrip10 @himanshusharma89 @manan-bedi2908 work together and make separate PRs for different parts of the page..I would suggest that the page have posts(that can be done only by admins) with a headline and a small description..On Clicking on the headline..it should redirect to a separate page for it having more description,places to put picture and places to put relevant social media links

[2020-03-04 19:52] manan-bedi2908 commented on #50
Ok, I'll make the achievements page and make posts with the help of cards
where I will have an option for read more as well as update.

On Thu, 5 Mar 2020, 01:15 Smaranjit Ghose, <notifications@github.com> wrote:

[2020-03-04 19:53] manan-bedi2908 commented on #50
And in the update page, we can have places for adding image and
description. That thing, other two people can do. I will make a pull
request within two days for the start of Achievements page

On Thu, 5 Mar 2020, 01:21 MANAN BEDI, <manan.19535@sscbs.du.ac.in> wrote:

[2020-03-04 20:33] smaranjitghose opened #67 "Remove social media icons from the top of GirlScript Chennai Website"

[2020-03-04 20:34] smaranjitghose opened #68 "Add the Team Page section in the GirlScript Chennai home page"

[2020-03-04 20:36] smaranjitghose opened #69 "Improve the design of the social media icons in the footer of the GirlScript Chennai website. We need Instagram,Twitter,LinkedIN,Facebook"

[2020-03-04 21:03] smaranjitghose opened #70 "Remove the location,email id,phone number from the footer of GirlScript Chennai Website"

[2020-03-04 21:04] smaranjitghose opened #71 "Remove program section from GirlScript Chennai website"

[2020-03-04 21:16] smaranjitghose opened #72 "Remove Sponsors widget and also the sponsors.dart file from the app"

[2020-03-04 21:18] smaranjitghose opened #73 "Remove unneccesary comments from pubspec.yaml file"

[2020-03-04 21:21] smaranjitghose opened #74 "Update the home page of GirlScript Chennai to include the blog page"

[2020-03-04 22:26] bharat-1809 commented on #74
@smaranjitghose I would like to work on this issue.

[2020-03-04 22:27] bharat-1809 commented on #72
@smaranjitghose I would like to work on this issue.

[2020-03-04 22:27] bharat-1809 commented on #73
@smaranjitghose I would like to work on this issue

[2020-03-04 22:28] bharat-1809 commented on #67
@smaranjitghose  I would like to work on this issue

[2020-03-04 23:22] bharat-1809 opened #76 "Add Launcher Icon to app"
There is no launcher icon for the app.
I would like to work on this issue, kindly assign me with this issue.

[2020-03-05 02:20] infiniteoverflow commented on #72
Sir , I would like to work on this issue

[2020-03-05 03:40] HarshCasper commented on #69
I would like to work on this issue as part of GSSOC'2020. I would be highly obliged if you can grant me permission to work on this issue @smaranjitghose

[2020-03-05 03:40] HarshCasper commented on #70
I would like to work on this issue as part of GSSOC'2020. I would be highly obliged if you can grant me permission to work on this issue @smaranjitghose

[2020-03-05 03:40] HarshCasper commented on #71
I would like to work on this issue as part of GSSOC'2020. I would be highly obliged if you can grant me permission to work on this issue @smaranjitghose

[2020-03-05 03:40] HarshCasper commented on #68
I would like to work on this issue as part of GSSOC'2020. I would be highly obliged if you can grant me permission to work on this issue @smaranjitghose

[2020-03-05 08:02] #76 closed

[2020-03-05 08:03] bharat-1809 commented on #76
Adding this as a PR so that mentors can review it and take further steps

[2020-03-05 08:25] Aman-Codes commented on #74
I am a GSSOC 2020 participant and I would love to work upon this as a part of GSSOC 2020. Please assign it to me.

[2020-03-05 13:55] #25 closed

[2020-03-05 14:22] gpsuhas20 commented on #69
i would like to work on this issue. @smaranjitghose

[2020-03-05 14:25] gpsuhas20 commented on #67
i would like to work on this issue.

[2020-03-05 14:31] goyalmuskan commented on #68
Please assign me this issue. @smaranjitghose @sukkritsharmaofficial

[2020-03-05 14:31] goyalmuskan commented on #68
This is for website right?

[2020-03-05 14:33] goyalmuskan commented on #71
Please assign me this issue!

[2020-03-05 15:15] suryadevsingh commented on #58
I would like to work on this issue . i can make responsive and custom design for this in flutter with smooth transition and animations in 60fps . plzz assign this issue to me . @ousnik
thanks

[2020-03-05 15:47] ousnik opened #81 "Customize the girlscript logo for the app"

[2020-03-05 15:55] bharat-1809 commented on #81
I would like to work on this issue

[2020-03-05 16:25] Anushka-shukla commented on #68
For the mobile app I would like to work on it.
please assign me this issue.

[2020-03-05 16:28] Anushka-shukla commented on #58
I would like to work on this.

[2020-03-05 16:30] goyalmuskan commented on #70
Please assign me this issue.

[2020-03-05 18:58] #73 closed

[2020-03-05 21:19] siddhishree commented on #15
It has been 5 days since the issue is assigned. Can I take this issue now, if there hasn't been any progress yet? @smaranjitghose

[2020-03-06 02:21] aksayushx commented on #68
I would like to work on this issue. Please assign it to me.

[2020-03-06 03:54] HarshMehta2468 commented on #64
@smaranjitghose i have updated the links of social media handles and sent a pull reqst !!

[2020-03-06 05:22] bharat-1809 opened #86 "Add a Team page in the app"
A team page is required in the app according to the README file

[2020-03-06 05:22] bharat-1809 commented on #86
I would like to work on this issue

[2020-03-06 07:28] #72 closed

[2020-03-06 07:38] #81 closed

[2020-03-06 07:39] infiniteoverflow commented on #86
I would like to work on this issue too

[2020-03-06 07:41] #74 closed

[2020-03-06 08:02] smaranjitghose commented on #63
Remove the HTML5 UP preset elements like the footer and the tab names..please
Use up the content on the ReadME to describe the project
Remove the Connect with us Section
Put a section for the Project admins and mentors
Put a section which dynamically shows the recent pull requests,issues,forks,star
Put a section that shows count of contributors
Have a separate file or something from where each of

[2020-03-06 08:03] #64 closed

[2020-03-06 08:08] smaranjitghose opened #87 "Improve the Home Page of the GirlScript Chennai Website"
see the official girlscript foundation for reference

We need to have the following sections:
- Home(The main landing page..summarizing what GirlScript is and its goals)
- Announcements Page
- Team Page
- Contact Us Page
- Achievement Page
- Blog Page

Improve the design of the current one
Please do some research on GirlScript itself and put in the content instead of Lorem Ipsum
At the footer,try

[2020-03-06 08:12] HarshMehta2468 commented on #87
@smaranjitghose  I'd like to work on this

[2020-03-06 08:12] smaranjitghose commented on #87
For references:
https://srmkzilla.net/
http://dscmanipal.club/

[2020-03-06 08:17] smaranjitghose commented on #68
@Anushka-shukla mobile app
@goyalmuskan website

[2020-03-06 08:19] smaranjitghose commented on #68
Refer:https://dscvit.com/team.html

[2020-03-06 09:48] manan-bedi2908 commented on #68
I would like to work on this issue

[2020-03-06 10:08] goyalmuskan commented on #70
@smaranjitghose Do I need to just remove it? Or add something else as well?

[2020-03-06 10:19] manan-bedi2908 commented on #87
I would like to work on this issue

[2020-03-06 14:37] annu12340 commented on #15
Yes siddhishree, you may take it up. (due to personal reasons, I would be able to work on it)

[2020-03-06 14:39] annu12340 commented on #15
Yes siddhishree, you may take it up. (due to personal reasons, I would be able to work on it)

[2020-03-06 16:13] HarshMehta2468 commented on #87
@smaranjitghose I commented first,still the other person was assigned it !!! How come ?

[2020-03-06 16:20] #68 closed

[2020-03-06 16:20] #70 closed

[2020-03-06 16:27] smaranjitghose commented on #87
@mySTRiouscoder This is not a First Come First Serve thing. We have to make sure everyone is given an opportunity and all the participants are able to contribute to a same base level...Hence if someone's not assigned anything previously might be given preference..If you wish to contribute on the the same just give a PR and say how you improved..it would surely be considered

[2020-03-06 16:29] #22 closed

[2020-03-06 16:31] HarshMehta2468 commented on #87
Oh ,Okay !!!  My bad , Sorry for the misunderstanding @smaranjitghose

[2020-03-06 16:43] vishakha2108 commented on #87
Can I work on this?

[2020-03-06 18:12] manan-bedi2908 commented on #87
@smaranjitghose now, do @mySTRiouscoder and me have to work together for this?

[2020-03-06 19:28] mySTRiouscoder opened #93 "Remove the placeholder text on click in 'contact-us' page"
The current version of 'contact-us.html' has placeholder text which is present even when the user clicks. My idea is that is should disappear once the user clicks on the text area.

[2020-03-06 20:06] mySTRiouscoder opened #95 "Social media Logos on contact-us page"
The current version has images(.png) as logos  and  not icons which seems kinda not perfect.
Also, updated the links with the official social media handles.

[2020-03-06 20:09] HarshMehta2468 commented on #95
Issue:
![image](https://user-images.githubusercontent.com/56103228/76118947-5d59cc80-6014-11ea-9af8-7d12461146f1.png)

As evident in the above pic the icons appear quite large

[2020-03-07 00:29] Basilleaf24 commented on #86
@ousnik I would like to contribute to the front end of this issue
Please assign me this issue

[2020-03-07 01:18] puneethkanna opened #97 "EVENTS title in the page is divided"
For small screens the heading is divided and shown in two lines.

[2020-03-07 01:19] puneethkanna opened #98 "Add app bar for the Events page"
Add an SilverAppBar for Events page

[2020-03-07 01:19] puneethkanna commented on #98
Please assign me this issue, I have already fixed it.

[2020-03-07 01:20] puneethkanna commented on #97
Please assign me this issue, I had already fixed this.

[2020-03-07 01:58] puneethkanna opened #100 "Launcher Icon"
Make the launcher icon to round, so that the white color will be not behind it.

[2020-03-07 02:01] puneethkanna commented on #100
![857419555_318272](https://user-images.githubusercontent.com/40000406/76134612-9b231900-6045-11ea-8ae4-9390259e0494.jpg)

[2020-03-07 02:02] puneethkanna commented on #100
![ic_launcher](https://user-images.githubusercontent.com/40000406/76134636-c3127c80-6045-11ea-9f60-788dd090e16f.png)

[2020-03-07 02:19] puneethkanna commented on #100
I suggest to use [App Icon Creator](https://romannurik.github.io/AndroidAssetStudio/icons-launcher.html#foreground.type=clipart&foreground.clipart=4k&foreground.space.trim=1&foreground.space.pad=0.25&foreColor=rgba(96%2C%20125%2C%20139%2C%200)&backColor=rgb(68%2C%20138%2C%20255)&crop=0&backgroundShape=circle&effects=none&name=ic_launcher) for creating App Icon.
The above icon is already done.

[2020-03-07 03:37] goyalmuskan opened #101 "Making the theme of the website even"
The website currently doesn't follow one particular theme. May I work on this issue? @smaranjitghose

[2020-03-07 05:39] smaranjitghose commented on #87
Yes, i would suggest a collaborative effort since based upon the main page the others will fall in place..or atleast while one of you gives a PR for some X make sure the other gives for Y..knowing that X is done

[2020-03-07 10:29] manan-bedi2908 commented on #101
@goyalmuskan I am working on it as the issue was opened to improve the home page and other pages!

[2020-03-07 10:30] manan-bedi2908 commented on #101
You can ask @smaranjitghose if we could work together as we have to change the theme of all pages

[2020-03-07 10:42] goyalmuskan commented on #101
Yes, Sure @manan-bedi2908 . May I too contribute to changing the theme of the website? @smaranjitghose

[2020-03-07 15:12] ousnik commented on #101
Go ahead. Both. Coordinate with each other as rqrd.

[2020-03-07 15:24] goyalmuskan commented on #101
Sure @ousnik !!

[2020-03-07 16:50] puneethkanna commented on #9
Sir, I had made a splash screen and made a PR, along with other issues.

[2020-03-07 18:51] infiniteoverflow opened #106 "Implement the Contact Us Screen in the App"
@smaranjitghose @ousnik  I would like to work on this. I have an UI in mind which i could implement in the Contact Us Page :)

[2020-03-07 22:06] #9 closed

[2020-03-07 22:09] #67 closed

[2020-03-07 22:11] #86 closed

[2020-03-08 02:12] #97 closed

[2020-03-08 02:12] #100 closed

[2020-03-08 02:19] puneethkanna commented on #21
Sir, the PR has been merged, so the issue is closed. If needed it should be reopened to improve it.

[2020-03-08 02:25] puneethkanna opened #107 "Sponsors page has been removed, but it is being used in hame.dart, which is causing errors."

[2020-03-08 03:09] puneethkanna opened #108 "Right overflow issues in teams.dart"
**Note:** For getting an element in center, use column row or Center(). Don't use padding because it changes from screen size.

[2020-03-08 03:10] #98 closed

[2020-03-08 04:30] nicks101 commented on #95
hey @ousnik, can I work on this issue?

[2020-03-08 11:12] Sapna2001 opened #109 "Implement the About Us page in the App"
@smaranjitghose @ousnik I would like to work on this. Please assign me this issue.

[2020-03-08 11:33] bharat-1809 opened #110 "Add Login screen in the app"
There's no login page in the app but is required as per the README file

[2020-03-08 11:33] bharat-1809 commented on #110
I would like to work on this issue

[2020-03-08 13:30] gpsuhas20 commented on #95
please assign me this task.

[2020-03-08 14:19] kamal-kaur04 commented on #93
Hello @mySTRiouscoder Can I work on this??

[2020-03-08 14:24] kamal-kaur04 commented on #107
Hello @puneethkanna Can I take this issue?

[2020-03-08 14:36] nishantsharma09 commented on #63
Shall i take this issue? @smaranjitghose

[2020-03-08 14:58] nishantsharma09 commented on #62
Hi @smaranjitghose. I have created the [PR #111](https://github.com/smaranjitghose/girlscript_app/pull/111) for this issue. Please review and let me know for any further changes.

[2020-03-08 15:23] bharat-1809 opened #113 "Correct Syntactical Errors in home.dart file"
There are some syntactical errors in home.dart file due to which the project cannot be compiled.

[2020-03-08 15:23] bharat-1809 commented on #113
I would like to work on this issue

[2020-03-08 15:37] infiniteoverflow commented on #113
Sorry , but i have corrected that in my latest PR along with the Issue i was working on. As i was not able to run the app

[2020-03-08 16:19] suraj111999 commented on #69
I would like to work on this issue

[2020-03-08 16:20] suraj111999 commented on #93
I would like to work on this issue

[2020-03-08 16:21] dwvicy commented on #37
so I've made a separate blog page, but inorder to integrate it with medium i would need access to the medium account for the website. Is there one already or should I create one?

[2020-03-08 16:21] suraj111999 commented on #65
I would like to work on this issue

[2020-03-08 17:30] himanshusharma89 commented on #109
The about us screen for the application is also developed by me, you can work on any other issue.

[2020-03-08 17:49] Sapna2001 opened #114 "Improvement of the homepage"
![Screenshot (24)](https://user-images.githubusercontent.com/56690856/76168161-ed258500-6192-11ea-98c7-59557c07e7b6.png)

The top bar seems congested with social media icons and the top bar. So I would like to give proper spacing to improve it.

[2020-03-08 17:52] Sapna2001 commented on #114
@smaranjitghose @ousnik I would like to work on this. Please assign me this issue.

[2020-03-08 18:40] AjinkyaTaranekar commented on #95
Please assign me this issue.

[2020-03-08 18:41] AjinkyaTaranekar commented on #110
I would like to work on this issue.

[2020-03-09 03:30] puneethkanna commented on #107
Sure!, work on it.

[2020-03-09 06:52] #95 closed

[2020-03-09 06:52] #93 closed

[2020-03-09 08:18] kamal-kaur04 commented on #107
@puneethkanna I am getting these warnings when I executed the command **" git add ."** Kindly tell if this is a normal behavior?
Thank you.

![image](https://user-images.githubusercontent.com/38219887/76194510-54cbe680-620c-11ea-9595-48120bdee666.png)

[2020-03-09 08:36] kamal-kaur04 commented on #107
@puneethkanna I changed the access mode of android-gradlew because due to that I was notable to build the project. But it has changed many files. I come to know about it when I committed my changes to resolve the issue. I am attaching the file of logs. Please suggest mewhat to do now?

[gnotes.pdf](https://github.com/smaranjitghose/girlscript_app/files/4305497/gnotes.pdf)

[2020-03-09 10:49] Sapna2001 opened #118 "Removing icons from Achievements Page"
The social media icons have to be removed from the achievements page to have a uniformity in all the pages.

[2020-03-09 12:39] himanshusharma89 commented on #118
The Achievements Page is assigned to me and I have already removed the icons.

[2020-03-10 05:29] #107 closed

[2020-03-10 05:39] #69 closed

[2020-03-10 05:45] smaranjitghose commented on #62
Please don't use the entire README for the contributing file..Rather use a part of it and the Code of conduct for it..Also Put in some suggestions like:one should not change the path name,push to a test branch first,etc...highlighting the problems we faced due to such things...Please refer the above links as well and some other open source projects..Also subsequently update the README

[2020-03-10 05:46] #14 closed

[2020-03-10 05:48] #106 closed

[2020-03-10 05:49] #110 closed

[2020-03-10 05:58] smaranjitghose commented on #37
https://medium.com/girlscript-chennai
Use this please @dwvicy

[2020-03-10 05:59] smaranjitghose commented on #114
I have already assigned an issue on this..Please see the most recent update and comment there for this

[2020-03-10 05:59] #114 closed

[2020-03-10 06:01] #118 closed

[2020-03-10 06:01] #109 closed

[2020-03-10 06:09] #113 closed

[2020-03-10 06:09] #21 closed

[2020-03-10 08:59] kamal-kaur04 commented on #108
Hello @smaranjitghose @puneethkanna Can I take this issue?

[2020-03-10 10:23] bharat-1809 opened #121 "Overflow issue in Contact Us page"
There is an overflow issue in the Contact Us page near the raisedButton. Here's a screenshot of the same:
![flutter_01](https://user-images.githubusercontent.com/58745044/76303123-3686e900-62e7-11ea-8d59-7b91239cadef.png)

[2020-03-10 10:24] bharat-1809 commented on #121
I would like to work on this issue.

[2020-03-10 23:50] infiniteoverflow opened #123 "Implement the logic to send feedback and Queries via mail through the app"

[2020-03-11 02:19] infiniteoverflow commented on #123
@ousnik @smaranjitghose I would like to work on this issue. I had implemented the UI for the Contacts page of the app. In that there was a section to send feedback or queries. I would like to use the flutter_email_sender package to retrieve the text from the UI element and to send that to the respective email id.

[2020-03-11 13:20] sukkritsharmaofficial commented on #101
Further work needs to be done to the website for uniformity.

[2020-03-11 14:15] Yashank18 commented on #101
I have some ideas for it, I can work with @goyalmuskan on it.

[2020-03-11 14:16] goyalmuskan commented on #101
Sure @Yashank18! If @smaranjitghose or @sukkritsharmaofficial can assign you too?

[2020-03-11 14:27] sukkritsharmaofficial commented on #101
@goyalmuskan and @Yashank18 Please go ahead with it 👍

[2020-03-11 14:30] #121 closed

[2020-03-11 15:36] #62 closed

[2020-03-11 18:15] kamal-kaur04 commented on #108
@smaranjitghose @ousnik I am getting this error while building the project.
`Gradle does not have execution permission.
    You should change the ownership of the project directory to your user, or move the project to a directory with execute permissions.
Gradle task assembleDebug failed with exit code 1`

how to access the project?

[2020-03-11 18:28] kamal-kaur04 commented on #108
I just ran `flutter clean` will it effect the project?

[2020-03-12 05:32] shreyakapoor08 commented on #71
can i take up this issue?

[2020-03-12 07:38] SaranshDawra commented on #87
@smaranjitghose I would like to work on this issue.

[2020-03-12 10:07] himanshusharma89 opened #130 "Improve Splash Screen of the Application"
@smaranjitghose
I would like to improve the splash screen of the application.

[2020-03-12 15:08] #130 closed

[2020-03-12 15:11] #108 closed

[2020-03-12 15:19] #87 closed

[2020-03-12 19:55] #101 closed

[2020-03-12 19:57] smaranjitghose commented on #71
@HarshCasper @shreyakapoor08
The website has been shifted to https://github.com/smaranjitghose/girlscript_chennai_website
as a separate project for GSSOC..Please checkout the codebase there and continue contributing there..The issues will be raised shortly there...Meanwhile, You are welcome raise your own issues there

[2020-03-12 19:58] smaranjitghose commented on #50
@atrip10
The website has been shifted to https://github.com/smaranjitghose/girlscript_chennai_website
as a separate project for GSSOC..Please checkout the codebase there and continue contributing there..The issues will be raised shortly there...Meanwhile, You are welcome to raise your own issues there

[2020-03-12 19:58] #39 closed

[2020-03-12 20:22] himanshusharma89 opened #135 "Improve home screen of the application"
I would like to improve the home screen widget as one shown in the README.md file and add further more enhancements.

[2020-03-12 22:02] #8 closed

[2020-03-12 22:03] smaranjitghose opened #136 "Improve the ReadMe of the project"
# Suggested Structure:

- Project Name
- Project Description
- Snapshots
- Tech Stack Used
- How to Contribute
- Learning Resources
- Code of Conduct
- Project Admins and Teams
- License

__Try to put in more emojis,gif,images__

# Some Resources to get started with:

- __Basics of GitHub Markdown__
https://guides.github.com/features/mastering-markdown/

- __Some more tips on GitHub Markdown__
htt

[2020-03-12 22:12] #31 closed

[2020-03-12 22:13] #32 closed

[2020-03-12 22:14] #37 closed

[2020-03-12 22:14] #71 closed

[2020-03-12 22:14] #50 closed

[2020-03-12 22:19] #63 closed

[2020-03-12 22:28] smaranjitghose opened #137 "A static website for this open source project"
# Create a static website for describing this open-source project

- __use the  docs folder of this repo (This is because we shall be setting up the GitHub  Pages from it)__
- Firstly give a PR to delete the existing contents of the __docs__ folder
- Use the current ReadMe as a starting point to build on

###  Suggested Structure:

- Project Title
- Project Description
- Snapshots
- Tech Stack Use

[2020-03-13 10:53] RaghavAwasthi commented on #137
I would like to work on this one. Can you assign me

[2020-03-13 13:25] hitha2000 commented on #136
@smaranjitghose  please assign me this issue

[2020-03-13 15:18] anushbhatia commented on #135
![Screenshot_20200313_204714_com android chrome](https://user-images.githubusercontent.com/40017559/76634156-e7051f00-656b-11ea-9402-7d9c2b0d13d0.jpg)

U can add something kind of this as beginning

[2020-03-13 15:20] anushbhatia opened #138 "Create a profile page"

[2020-03-13 20:10] bharat-1809 opened #139 "Add a Login screen in the app"
As per the README file we need a login screen. Which is not yet implemented.

[2020-03-13 20:10] bharat-1809 commented on #139
I would like to work on this issue.

[2020-03-14 13:42] manan-bedi2908 opened #141 "Re-create contact us page"
Currently,the contact us page is not properly designed. Spacing and design is not proper.
May i work on this @smaranjitghose @ousnik if no one is currently working on this?

[2020-03-14 17:08] smaranjitghose opened #142 "Team Page"

[2020-03-14 17:14] Anushka-shukla commented on #142
Sir , Assign me this issue

[2020-03-14 21:31] #58 closed

[2020-03-14 21:33] #141 closed

[2020-03-15 06:15] himanshusharma89 opened #145 "Improve bottom app bar."
I would like to improve the bottom app bar and convert it to bottom navbar.

[2020-03-15 09:32] vineeta786 commented on #138
assign this to me

[2020-03-15 16:26] algokun opened #150 "Organize the `/lib` folder"
I would like to organise overall lib folder as the pages are getting added its looking clumsy and at the same time we need to manage overall dart files as views models and services

[2020-03-15 16:27] algokun commented on #150
could you please assign me this issue?

[2020-03-15 19:39] #145 closed

[2020-03-16 07:51] himanshusharma89 opened #151 "Fix RenderFlex overflowed in Team Page."

[2020-03-16 08:02] himanshusharma89 opened #153 "Connect Project Page with Project Details Page"
The cards in Project widget are not connected with the Project Description widget.

[2020-03-16 08:50] harshita130602 commented on #153
Could you please provide the description

[2020-03-16 16:12] suryadevsingh commented on #138
I would like to work on this .

[2020-03-16 16:30] suryadevsingh opened #155 "Make all screens responsive"
Screens are device specific make it responsive .

[2020-03-16 16:30] suryadevsingh commented on #155
I would like to work on it .

[2020-03-17 09:25] sakshi1499 opened #158 "Navbar not responsive"
Burger Button should be added in the navbar. As the  navbar content disappears when the screen size is reduced.
![gs](https://user-images.githubusercontent.com/42520146/76841835-570ef000-685f-11ea-8162-40d337779a64.PNG)

[2020-03-17 09:26] sonalsk commented on #158
We, team Femmetech, would like to work on this issue

[2020-03-17 11:29] sonalsk opened #161 "Editing Experience section in Home Page"
Suggested changes :
1. Change parting line and make it more responsive
2. Link 'Read More' button to respective page
3. Edit information under Successful Projects and Events
4. Make section responsive

![Screenshot from 2020-03-17 17-01-33](https://user-images.githubusercontent.com/51206050/76852361-2637b680-6871-11ea-89d4-7117905c87e0.png)

[2020-03-17 11:36] sakshi1499 commented on #161
We (team femmetech) would like to do this.

[2020-03-17 23:48] #158 closed

[2020-03-18 00:47] #153 closed

[2020-03-18 00:48] #151 closed

[2020-03-18 00:49] smaranjitghose commented on #161
@sonalsk  @sakshi1499 .. the website is being maintained at https://github.com/smaranjitghose/girlscript_chennai_website
Please follow up from there

[2020-03-18 16:16] smaranjitghose opened #163 "Create Mockup for the app"

[2020-03-18 16:17] Anushka-shukla commented on #163
Will put up sooner.

[2020-03-18 16:39] anushbhatia opened #164 "Dark Mode of App"

[2020-03-18 17:04] #161 closed

[2020-03-18 18:45] Anushka-shukla commented on #163
Done Sir..

[2020-03-18 19:29] ousnik opened #166 "Add Padding and Organizing Contact Us Page"
Add padding to the page.
Re-style the theme of the page.
Add AppBar.
Remove the logo of GSSoC and put appropriate content in the AppBar.
Add Github handle link.
Use this facebook logo. (The color accent in the existing one is incorrect)

![fb_link](https://user-images.githubusercontent.com/42760850/76999307-6df73480-697c-11ea-8865-7f4f4cbc03c0.png)

[2020-03-18 19:39] algokun commented on #150
@smaranjitghose could you please review this pr?

[2020-03-18 19:40] ousnik opened #168 "Update the Projects page"
- The existing projects page just has horizontally scrollable cards with github logos.
- Modify the existing page and upload mock data for display and create hyperlink to github repository of each project.
- Add a Card that opens the github handle of girlscript.

Example (This is just to give you an idea. No need to make this exactly) :

![image](https://user-images.githubusercontent.com/42760850/

[2020-03-18 19:43] ousnik opened #169 "ReDesign the AppBar"
redesign the appbar in the homepage.
Add a user icon to it for logging in when clicked.

[2020-03-18 19:43] himanshusharma89 commented on #168
Hey @ousnik @smaranjitghose , I would like to work on this.

[2020-03-18 19:45] himanshusharma89 commented on #166
Hey @ousnik , these issues are in **ContactUs** page, I guess?

[2020-03-18 20:57] algokun commented on #164
Hey @anushbhatia, I would like to work on this

[2020-03-19 02:37] infiniteoverflow commented on #168
@ousnik sir , i would like to work on this issue :)

[2020-03-19 15:55] Diya8 commented on #169
@ousnik I am interested in working on this issue? Can you please assign it to me?

[2020-03-19 19:41] himanshusharma89 commented on #168
Hey @infiniteoverflow , I have developed the Project page, so can you modify it?

[2020-03-19 19:52] infiniteoverflow commented on #168
Yesss i can :)

[2020-03-20 07:52] Diya8 commented on #169
@ousnik Just to clarify... I have to add a user icon to the app bar at the bottom of the page right? What page should it go to when clicked?

[2020-03-20 08:30] #150 closed

[2020-03-20 10:31] algokun commented on #164
@anushbhatia could you please review this pr?

[2020-03-20 12:18] ousnik commented on #169
AppBar exists at the top of the page. Right now Just make the iconbutton...Dont link it to any page.

**EXAMPLE:**

![Annotation 2020-03-20 154511](https://user-images.githubusercontent.com/42760850/77154510-da2f8080-6ac1-11ea-87c5-35c61bbe6555.png)

[2020-03-20 16:30] sukkritsharmaofficial opened #174 "Clean app folder"
Remove unnecessary files and create git ignore file.

[2020-03-20 16:39] Aman-Codes opened #175 "Add ISSUE_TEMPLATE"
@smaranjitghose I am a GSSOC participant and I would like to add an issue template folder with bug report, feature request and pull request template
## Screenshots
### Bug report
![bug report](https://user-images.githubusercontent.com/54680709/77220483-80cd5d00-6b66-11ea-8685-2751fa20c0c2.PNG)

### Feature Request
![feature request](https://user-images.githubusercontent.com/54680709/77220495-98a4e

[2020-03-21 05:51] himanshusharma89 commented on #166
Hey @ousnik @smaranjitghose I would like to work on this.

[2020-03-21 12:10] Diya8 commented on #169
I forked the project and ran it on android studio. I can't see the app bar as you mentioned. I can only see a bar at the bottom.
![WhatsApp Image 2020-03-21 at 5 38 58 PM](https://user-images.githubusercontent.com/42782061/77226036-010db580-6b9b-11ea-9bfb-f7869ede61dc.jpeg)

[2020-03-21 14:38] Diya8 commented on #169
@ousnik or should i create a new appbar?

[2020-03-22 13:06] ousnik commented on #169
Create one then

[2020-03-22 14:24] sameeerkashyap commented on #174
I'd like to work on this

[2020-03-22 14:53] PratilipiAich commented on #174
I would like to work on this issue.

[2020-03-22 17:11] Diya8 commented on #169
@ousnik i made a pr. please review

[2020-03-22 18:00] minolipvartak commented on #8
hello @smaranjitghose I see there is some sort of duplications in the ReadMe doc.
![image](https://user-images.githubusercontent.com/36539574/77256506-d2740580-6c94-11ea-986f-b4e546b8514b.png)
![image](https://user-images.githubusercontent.com/36539574/77256535-fafbff80-6c94-11ea-80dc-fc98771dfcd2.png)

Can you please reopen this issue and assign it to me for a quick fix?

[2020-03-22 18:02] sukkritsharmaofficial commented on #174
For the first week im assigning it to @Sameerkash . @PratilipiAich you can take over from him next week.

[2020-03-22 18:04] sameeerkashyap commented on #174
Can you please explain ? I didn't get you by first and second week. Does is mean I'll only have to maintain for this week ?

[2020-03-22 18:05] sukkritsharmaofficial commented on #174
@Sameerkash go ahead, and make sure that you dont misplace any important file. This is something that would require a weekly check when the new files are added. So for now, for the first week maybe after 3-4 days you come back again and see if there are new unimportant files and clean them up.

[2020-03-22 18:07] sameeerkashyap commented on #174
Okay got it cool. And do I add the  .gitignore outside the directory ? Like is there a soec of what all I should include ? Or shall I follow normal terms and ignore only non essential and imitating things

[2020-03-22 18:19] sukkritsharmaofficial commented on #174
Yes define the gitignore file outside the dir and yes follow normal terms and see whatever you think is not useful and few replicated files need to be removed.

[2020-03-22 19:12] bharat-1809 opened #181 "Overflow issue in the HomePage"
There is an overflow of pixels in profile section of HomePage
Here's a screenshot of the page:

![Screenshot_20200323-003407](https://user-images.githubusercontent.com/58745044/77258194-ff2d1a80-6c9e-11ea-8427-c3fdd38f9a7b.jpg)

[2020-03-22 19:12] bharat-1809 commented on #181
I would like to work on this issue.

[2020-03-23 18:41] vineeta786 opened #188 "Improvement of the profile card for better usability"

[2020-03-24 09:12] shreyakapoor08 commented on #142
can I work on this issue ?

[2020-03-24 10:41] anushbhatia commented on #35
update??

[2020-03-24 12:38] shreyakapoor08 commented on #142
@anushbhatia can you please explain what exactly has to be done?

[2020-03-24 19:35] algokun commented on #164
I'll do the PR again after the #174

[2020-03-24 19:55] bharat-1809 opened #193 "Add Sign Up Page to the app"
A Sign Up page is required in the app but is not yet implemented.

I would like to work on this.

[2020-03-25 09:44] anushbhatia commented on #155
update??

[2020-03-25 09:45] #139 closed

[2020-03-25 11:26] #175 closed

[2020-03-25 12:08] himanshusharma89 opened #197 "Improve Events Page"
Improve the events page with respect to other screens.

[2020-03-25 12:11] himanshusharma89 commented on #169
Hey @smaranjitghose @ousnik , If this is not yet done, can I work on this issue?

[2020-03-25 12:13] #24 closed

[2020-03-25 12:13] #135 closed

[2020-03-25 12:23] Diya8 commented on #169
I'm currently working on it

[2020-03-25 12:32] himanshusharma89 commented on #169
Oh Okay!

[2020-03-26 13:48] #181 closed

[2020-03-26 13:49] #193 closed

[2020-03-26 14:11] rajnis09 commented on #197
I would like to work on this issue, will you please shed some light on how the event page should look or I have to do it on my own with respect to other screens.

[2020-03-26 14:12] rajnis09 commented on #188
I would like to work on this issue, please provide some description.

[2020-03-26 14:58] Adyasha8105 commented on #138
I would like to work on this.

[2020-03-26 15:14] #163 closed

[2020-03-26 15:17] #197 closed

[2020-03-26 15:17] #137 closed

[2020-03-26 19:14] bharat-1809 opened #201 "Add animation to the logo in the LoginPage"
**Is your feature request related to a problem? Please describe.**
There isn't a problem with the page but we can enhance its look by adding an animation in it.

**Describe the solution you'd like**
I would like to add an animation controller to the logo in the Login Page.

**Describe alternatives you've considered**
There are no alternatives apart from adding an animationController.

**Additional

[2020-03-26 22:12] #15 closed

[2020-03-26 22:13] #35 closed

[2020-03-28 12:48] algokun opened #202 "Organize the lib folder"
I would like to organize overall lib folder as the pages are getting added its looking clumsy and at the same time we need to manage overall dart files as views models and services

[2020-03-28 12:48] algokun commented on #202
could you please assign this issue to me and i'm also willing to improve the documentation

[2020-03-28 17:57] anushbhatia commented on #136
![1585418124194](https://user-images.githubusercontent.com/40017559/77830023-9e448d00-714b-11ea-9e8a-218e684887ff.png)
Solve this issue make custom icons and update them

[2020-03-28 18:11] bharat-1809 commented on #136
@anushbhatia
I would like to work on this issue

[2020-03-29 07:30] #201 closed

[2020-03-29 07:40] anushbhatia opened #204 "Splash Screen"
**Is your feature request related to a problem? Please describe.**
Splash Screen with animation and the gradient given

**Describe the solution you'd like**
Splash Screen
If possible a complete walkthrough of the app

**Additional context**
describe
1. about the app.
2. explain about navigation.
3. creating UI for the elements in-app.

Please mention the work you are doing before I assign u this t

[2020-03-29 08:16] algokun commented on #202
@anushbhatia could you please review this?

[2020-03-29 11:32] himanshusharma89 commented on #204
Hey, @anushbhatia I would like to work on this.

[2020-03-29 13:27] anushbhatia opened #206 "Login Page"
**Describe the solution you'd like**
Make the Login screen as same as the _mockup_

**Contents**
1. Use Proper fonts
2. Use already existing icons on the page.
3. For the UI elements refer to the website [www.flaticon.com](https://www.flaticon.com/).

**Please mention the work you are doing before I assign u this task.**
**Follow the UI Strictly**

Any files needed Just Contact me or other mentors

[2020-03-29 13:35] #155 closed

[2020-03-29 13:35] #138 closed

[2020-03-29 13:35] bharat-1809 commented on #206
I would like to work on it

[2020-03-29 13:35] #65 closed

[2020-03-29 13:36] #123 closed

[2020-03-29 13:36] #188 closed

[2020-03-29 13:37] anushbhatia commented on #142
Follow the current mockup and implement the design

[2020-03-29 13:56] anushbhatia commented on #206
Finish your previous issues then I can assign you this one.

[2020-03-29 14:06] anushbhatia commented on #204
Now u can make enhancement by adding vectors to it.

[2020-03-29 15:09] minolipvartak commented on #206
I would like to work on this issue @anushbhatia

[2020-03-29 15:23] bharat-1809 commented on #136
Is this correct ?
![jhgj](https://user-images.githubusercontent.com/58745044/77852989-26379f00-71ff-11ea-9997-912cefd27256.png)

[2020-03-29 18:22] shubhamaniket commented on #206
I would like to work on this @anushbhatia .

[2020-03-30 01:43] #202 closed

[2020-03-30 04:58] anushbhatia commented on #206
OK guys so distribute the work among yourself I will assign all of this task

[2020-03-30 04:59] anushbhatia commented on #136
Try making it more colourful and if u can add custom icons that would be great

[2020-03-30 05:18] bharat-1809 commented on #136
Ok I'll work on it.

[2020-03-30 07:46] #168 closed

[2020-03-30 07:46] #166 closed

[2020-03-30 07:47] #169 closed

[2020-03-30 07:47] #164 closed

[2020-03-31 15:34] shreyakapoor08 commented on #206
Hey, Can I work on this issue ?

[2020-03-31 16:34] anushbhatia commented on #206
You are currently working on team page right now so finish that up

[2020-04-01 05:59] anushbhatia commented on #136
Status?

[2020-04-01 10:04] bharat-1809 commented on #136
Sorry for the delay, Just made a pull request please have a look

[2020-04-01 10:10] abhishekgupta368 commented on #206
can I do it?

[2020-04-01 12:42] bharat-1809 commented on #142
Can I work on it?

[2020-04-01 14:19] anushbhatia commented on #206
Coordinate with @minolipvartak @shubhamaniket

[2020-04-01 15:30] himanshusharma89 opened #213 "Create Bottom Navigation Bar"
I would like to develop the bottom nav bar of the application.

[2020-04-02 16:29] shreyakapoor08 commented on #142
@anushbhatia Hey, I just talked to bharat and got to know that the UI is based on flutter dart. But i have no prior experience on the same . So I am unassigning myself from this issue. Sorry for the confusion from my end.

[2020-04-03 07:20] Adyasha8105 commented on #206
I would like to work on this issue.

[2020-04-03 08:45] himanshusharma89 opened #216 "Home Page"
I would like to create the Home screen as same as the mockup.

[2020-04-03 09:40] #142 closed

[2020-04-03 09:41] smaranjitghose opened #217 "Login Screen"
Please follow the mockup given in the README

[2020-04-03 09:41] smaranjitghose opened #218 "Sign Up Screen"
**Describe the solution you'd like**
Make the Login screen as same as the _mockup_

**Contents**
1. Use Proper fonts
2. Use already existing icons on the page.
3. For the UI elements refer to the website [www.flaticon.com](https://www.flaticon.com/).

**Please mention the work you are doing before I assign u this task.**
**Follow the UI Strictly**

If you need any help with the UI contact @anushbh

[2020-04-03 09:42] #217 closed

[2020-04-03 09:42] bharat-1809 commented on #218
I would like to work on it

[2020-04-03 09:46] smaranjitghose commented on #218
Cool! It's being assigned to you for the next 4 days.

Do give a PR and coordinate as per the suggestions given by the mentors

[2020-04-03 10:06] smaranjitghose opened #219 "Team Page"
**Describe the solution you'd like**
Make the Login screen as same as the _mockup_

**Contents**
1. Use Proper fonts
2. Use already existing icons on the page.
3. For the UI elements refer to the website [www.flaticon.com](https://www.flaticon.com/).

**Please mention the work you are doing before we assign u this task.**
**Follow the UI Strictly**

[2020-04-03 10:17] bharat-1809 commented on #219
I was already working on this previously so can I go forward with it ?

[2020-04-03 11:14] Anushka-shukla commented on #219
Please assign me this issue !!

[2020-04-03 11:15] smaranjitghose commented on #219
@bharat-1809 Could you please work on the Sign-Up page issue I assigned you now

[2020-04-03 11:16] smaranjitghose commented on #219
@Anushka-shukla For the next 5 days assigned to you.

[2020-04-03 11:18] bharat-1809 commented on #219
Yeah Sure

[2020-04-03 11:30] smaranjitghose opened #220 "Analytics Script"
# Tasks:
- Count the number of Pull Requests
- Count the number of Issues
- Count the number of Pull Requests Merged separately
- Create a log file of the Pull Requests: name, merged or not, linked issue, labels, who raised it

[2020-04-03 11:30] SAITARUN55 commented on #220
I would like to work on this issue

[2020-04-03 11:31] smaranjitghose commented on #220
Can you do it for the Pull requests within a week?

[2020-04-03 11:32] SAITARUN55 commented on #220
Will try and update the same with you

[2020-04-03 11:33] smaranjitghose commented on #220
Cool! take your time and if you need help @swat1998 can help you out

[2020-04-03 12:13] suryadevsingh commented on #216
I would like to work on this .

[2020-04-03 14:02] swat1998 commented on #218
@bharat-1809 Please do strictly follow mock up given in the repository.

[2020-04-03 14:05] bharat-1809 commented on #218
Sure

[2020-04-03 16:47] himanshusharma89 opened #223 "Event Page"
@swat1998
I would like to create the Events Page of the application.

[2020-04-03 18:01] anushbhatia commented on #216
Make action on click of read more button.
enable voice to speak.
Reduce the shadow size
x:0 y:3 B:15

[2020-04-03 18:02] anushbhatia commented on #216
Orange line shadow to
X:0 Y:3 b:6

[2020-04-03 18:05] anushbhatia commented on #216
make the proper file structure in the lib folder cards and navigation
Add comments if possible to your code structure

[2020-04-03 18:34] anushbhatia commented on #223
Please don't create any issue without contacting a mentor.

[2020-04-03 19:28] himanshusharma89 commented on #223
@anushbhatia I have contacted @swat1998 for this.

[2020-04-04 04:59] anushbhatia commented on #223
Currently mockup has been not given so if u are making something don't create a issue or pr before showing us.

[2020-04-04 05:54] himanshusharma89 commented on #223
@swat1998 told me to follow mockups in the Mockup folder, as other screens have been assigned, I started working on the Events mockup in that folder.
And I have showed the developed screen to @swat1998
@anushbhatia

[2020-04-04 05:58] anushbhatia commented on #223
Please refer to the Readme file only and ignore the rest of the mockups given

[2020-04-04 06:00] himanshusharma89 commented on #223
So which screen should I work on? Every screen is assigned. And I have completed the Home screen and will make a PR soon.

[2020-04-04 11:29] bharat-1809 commented on #204
Can I work on this?

[2020-04-04 11:49] himanshusharma89 commented on #204
What type of vectors?

[2020-04-04 12:20] anushbhatia commented on #204
So that it looks more attractive to look through apps like frapp,udemy
either Adding loader

[2020-04-04 14:03] #218 closed

[2020-04-05 18:42] minolipvartak commented on #206
Hey @anushbhatia . I see there is a custom background for the Login page. Can you provide me its file?

[2020-04-05 21:03] anushbhatia commented on #206
Send me your email id

[2020-04-06 05:36] minolipvartak commented on #206
minoli879@gmail.com

On Mon, Apr 6, 2020, 2:34 AM Anush Bhatia <notifications@github.com> wrote:

[2020-04-06 06:50] abhishekgupta368 commented on #206
Email: abhigupta9087@gmail.com

[2020-04-07 10:35] anushbhatia commented on #136
![1586255612216](https://user-images.githubusercontent.com/40017559/78659662-86a69a80-78e9-11ea-9c8f-8b3ce2bf3c5e.png)
Resolve this issue

[2020-04-07 10:57] himanshusharma89 commented on #136
It works fine:
![image](https://user-images.githubusercontent.com/44980497/78661595-abe8d800-78ec-11ea-868b-a0c2a234babe.png)

[2020-04-07 11:40] anushbhatia opened #231 "Events Page"
# Tasks to be performed:
Follow the mockup to create the events page.

Have the elements int the carousel Dynamic. We don't need static elements

__Please strictly follow the UI given and feel free to contact any of the mentors for help__
Any problems related to custom elements. Feel free to contact me on slack.

[2020-04-07 11:41] anushbhatia commented on #219
@Anushka-shukla Update on this Page

[2020-04-07 12:59] Anushka-shukla commented on #219
Solving the errors..

[2020-04-07 13:50] anushbhatia commented on #219
Any screenshot of screen?

[2020-04-07 19:17] rajnis09 commented on #231
I would like to work on it. Please assign me this task.

[2020-04-08 09:24] #136 closed

[2020-04-10 00:37] #174 closed

[2020-04-10 02:51] aashimgarg opened #235 "Add GitHub actions for the project."
# Tasks to be performed:

We can add github actions for the betterment of the project.

Should i start working?

[2020-04-10 06:11] imyashadulkar commented on #206
Hello @anushbhatia  I would like to work on this screen

[2020-04-10 11:04] anushbhatia opened #237 "Profile Page"
# Tasks to be performed:

Make the profile page as in UI.

__Please strictly follow the UI given and feel free to contact any of the mentors for help__

[2020-04-10 11:10] Satyam3976 commented on #237
Can I work on this issue?

[2020-04-10 12:34] himanshusharma89 commented on #237
I would like to work on this issue.

[2020-04-10 13:03] smaranjitghose commented on #235
List the actions(at max 6) here with their purpose. Only after being approved, proceed with separate PRs.

[2020-04-12 12:26] Adyasha8105 commented on #235
CAN I?

[2020-04-12 17:35] aashimgarg commented on #235
We can have:-
1. greetings
2. label-merge-conflicts
3. foul language
4. dart package analyzer

[2020-04-14 12:05] smaranjitghose commented on #235
Go ahead with #1,#2,#3

[2020-04-17 06:35] abhishekgupta368 commented on #206
My laptop is not able to run flutter application. it heats up and shut down. what should I do?

[2020-04-20 22:11] #220 closed

[2020-04-20 22:12] #235 closed

[2020-04-26 04:48] Aman-Codes opened #244 "Broken link in Readme.md"
**Description of the enhancement**
* The link of code of conduct file in readme.md is broken.
* Remove the unwanted "s" after girlscript app

**Screenshots**
![Screenshot_20200426-101157_1](https://user-images.githubusercontent.com/54680709/80298187-4713f580-87a7-11ea-8f20-2a8b553280ec.jpg)

[2020-04-27 11:31] ousnik commented on #244
Thank You for bringing this to our notice.
However, this being an issue that is too trivial there will not be any points assigned to it.
It has been fixed.

[2020-04-27 11:31] #244 closed

[2020-04-27 23:55] smaranjitghose opened #247 "Documentation"
Using Sphinx to document the project in ```readthedocs``` format.

- The main page should be description of the project
- Detailed Table of contents
- Separate page for contributors
- Dedicated sections for each page of the app with all the necessary cards should be so that anyone with very less or no knowledge of flutter can use this app by changing certain lines of code

__Push this to gh-pages

[2020-04-29 16:02] Rukmini-Meda commented on #206
I would like to work on this issue if its not done. Please assign this to me as part of GSSoC'20

[2020-04-30 09:21] anushbhatia commented on #206
Go ahead @Rukmini-Meda

[2020-04-30 09:35] Rukmini-Meda commented on #206
UI is sufficient for this issue right! Will there be a separate issue for backend using firebase?

[2020-04-30 09:37] Rukmini-Meda commented on #206
The background has an image, right... or should I only keep the gradient because I couldn't find that image in assets. If there is any corresponding image, please let me know.

[2020-04-30 09:50] Rukmini-Meda commented on #206
I also have one more doubt. Now when the app runs, after splash screen timing, its navigated to sign up screen immediately and I am not able to go back, so how should I keep the navigation to login page? Should I show login page after splash screen? The other screens are also not accessible.

[2020-04-30 09:51] Rukmini-Meda commented on #206
Please reply soon.

[2020-04-30 19:44] anushbhatia commented on #206
keep login screen after splash screen. For colours, I have uploaded the gradients in the readme file just check that.

[2020-05-02 13:21] sheen404 commented on #219
Can I work on this issue?

[2020-05-02 19:57] #206 closed

[2020-05-02 20:13] anushbhatia opened #250 "Bug in signup"
Avoid overflow property here.
![Screenshot_20200503_012603_com example communityappboilerplate](https://user-images.githubusercontent.com/40017559/80891110-82e71780-8cdf-11ea-9390-275bec2fe399.jpg)

[2020-05-03 01:58] Rukmini-Meda commented on #231
I would like to work on this issue if it's not done yet. Please assign this to me as part of GSSOC'20.

[2020-05-03 07:47] anushbhatia commented on #231
it is done but u can add enhance this feature.

[2020-05-04 10:59] sheen404 commented on #250
Can I be assigned to this issue?

[2020-05-04 11:20] anushbhatia commented on #250
Sure can u do one more thing for time being on click of signin redirect to home page

[2020-05-04 14:14] CipherGirl commented on #247
I would like to work on this as part of GSSoC 20. I'm new to technical writing. Some resources and help from the mentors will be very much appreciated!

[2020-05-04 15:00] Shadman-Ahmed-Chowdhury commented on #247
I am a GSSoC 20 participant. Can I be assigned to this issue?

[2020-05-05 11:19] ousnik commented on #219
go ahead.

[2020-05-06 06:18] smaranjitghose commented on #204
@himanshusharma89 Is the final work for this issue done?

[2020-05-06 06:20] smaranjitghose commented on #247
@CipherGirl @Shadman-Ahmed-Chowdhury Divide the work among yourself.

Go through the youtube videos on sphinx Documentation (PyCon,Enthought,PyData)

[2020-05-06 06:21] smaranjitghose commented on #231
@Rukmini-Meda Are you working on any enhancement for this issue?

[2020-05-06 06:44] himanshusharma89 commented on #204
Yes, it's already done

[2020-05-06 08:22] sheen404 commented on #219
What specifically needs to be done?

[2020-05-06 08:42] Rukmini-Meda commented on #231
@smaranjitghose No, are there any other issues based on flutter that I can grab?

[2020-05-06 08:45] smaranjitghose commented on #231
This entire app is built using Flutter, if you have any enhancements to propose to the design or add some features, discuss it with @ousnik or @anushbhatia and give a pr

[2020-05-06 09:00] #204 closed

[2020-05-06 14:39] ousnik commented on #219
Check the mock-up and make the team page exactly as seen. We will provide u the assets when u need it. Also check the description of this issue.

[2020-05-07 11:02] sheen404 commented on #219
![Screenshot_1588849316](https://user-images.githubusercontent.com/52331477/81287406-54bb5c00-9080-11ea-843d-4cd8a8c55e04.png)

[2020-05-08 00:03] #237 closed

[2020-05-08 00:03] #219 closed

[2020-05-08 00:03] #216 closed

[2020-05-09 14:18] CipherGirl commented on #247
Hello @smaranjitghose, Thank you for assigning to us. I have been setting up the project on my machine and watched some sphinx tutorials also. I have some queries:

-  Are we required to know flutter to contribute to this issue?
-  We need the initial set up for the docs. The branch 'gh-pages' is not set up. Can you please help us with it?
-  Kindly elaborate on this section -> "Dedicated sections

[2020-05-09 21:00] ousnik opened #254 "Fix the error in the milestone page"
![Screenshot_1589057948](https://user-images.githubusercontent.com/42760850/81484792-28613480-9266-11ea-9922-8665861e8bb6.png)

[2020-05-10 13:50] sheen404 commented on #254
Please assign me this issue.

[2020-05-10 14:03] anushbhatia opened #255 "Overflow in Events Page"
![Screenshot_20200510_192732_com example communityappboilerplate](https://user-images.githubusercontent.com/40017559/81501241-f34ff300-92f4-11ea-84f5-80609b71e51b.jpg)
Overflow of buttons add a carousel there so that it can slide and you can mutiple slides there

[2020-05-10 17:16] ousnik opened #256 "Add content to Home Page"
Update the existing blueprint of the home page with relevant content.

Refer to the website for content:
[https://girlscriptboilerplate.netlify.app/](url)

[2020-05-10 17:27] sheen404 commented on #254
![Screenshot_1589131603](https://user-images.githubusercontent.com/52331477/81506083-99115b00-9311-11ea-9770-dd70aa36404c.png)

[2020-05-11 08:24] ousnik commented on #254
@sheen404 is it working for you?

[2020-05-11 08:29] sheen404 commented on #254
I fixed it. Just sharing the screenshot.

[2020-05-11 11:43] anushbhatia commented on #250
You have done this so should I close this

[2020-05-11 14:44] sheen404 commented on #250
Yes, sure.

[2020-05-11 20:19] ousnik commented on #254
Great! Can you please make the PR asap.

Note: It is preferable if you make seperate PRs for solving 2 different issues because points for each issue is allotted seperately.

[2020-05-11 21:39] #250 closed

[2020-05-11 21:43] smaranjitghose commented on #247
- Yes you need to understand fundamentals of flutter to write the documentation as you would be explaining the various cards and functions
- I have set up the branch
- Basically the aim of the documentation is to help anyone with no knowledge of flutter or app dev to use this code, make changes in content and assets in certain places of the codebase and use this app as their own

[2020-05-12 09:07] sheen404 commented on #255
Can I be assigned this issue?

[2020-05-19 14:17] Rukmini-Meda commented on #256
Can I work on this issue? Please assign this to me as part of GSSoC'20.

[2020-05-22 13:08] nerdynikhil commented on #254
I fixed it. Made a PR.

[2020-05-28 08:10] Rukmini-Meda commented on #256
@ousnik Can you help me to navigate to home screen? It requires userid to create its object. So, i am not able to navigate to it. Please reply soon.

[2020-05-30 10:03] #256 closed

[2020-05-30 11:13] Rukmini-Meda opened #267 "Add content to all pages wherever necessary"
**Description of the enhancement**
A clear and concise description of what the problem you wish to solve or any enhancement you wish to do for the project

I wish to add content to all screens wherever necessary.

**Screenshots**
Screenshots of the proposed changes compared with the current version of the project

@anushbhatia No screenshots. But I would like to work on this issue for GSSoC'20.

[2020-06-24 08:30] Anirudhk07 commented on #255
Can I take this?

[2020-07-10 15:11] Ishikagarg-ig commented on #255
can I take this issue?

[2020-07-10 22:09] anushbhatia commented on #255
Sure go on how long will you take to make a pr

[2020-07-11 13:12] Ishikagarg-ig commented on #255
i fixed the issue!!

[2020-07-18 18:08] himanshusharma89 opened #269 "Authentication Fix"
**Description of the enhancement**
Authentication not working

[2020-07-18 18:09] himanshusharma89 opened #270 "Pre Sign Up Slider"
A full screen intro slider when user freshly install the app before registration.

[2020-07-18 18:11] himanshusharma89 opened #271 "Splash Screen as Drawable"
This screen will be displayed whenever the user opens the app, like WhatsApp/Instagram

[2020-07-18 18:12] himanshusharma89 opened #272 "Firebase GitHub Authentication"

[2020-07-18 18:36] #255 closed

[2020-07-18 18:42] Anirudhk07 commented on #272
Can I take this ?

[2020-07-18 18:43] Anirudhk07 commented on #271
Can I take this ?

[2020-07-18 21:52] anushbhatia commented on #272
Work on LinkedIn authentication

[2020-07-19 06:13] Anirudhk07 commented on #272
Sure @anushbhatia

[2020-07-19 21:44] #269 closed

[2020-08-20 14:08] Ishikagarg-ig commented on #254
Can i take this issue?

[2020-08-20 15:22] Ishikagarg-ig commented on #254
As i have tested the app this issue only arises when I have used GoogleSingIn. If i am manually putting details then its working fine.

[2020-08-21 07:17] Ishikagarg-ig commented on #254
Have you added your android debugkey SHA-1 fingerprints in your firebase console and updated google-services.json file after adding them?

[2020-09-01 02:20] elaishane opened #274 "Code enhancement in Teams Page"
Path: community_app_boilerplate/lib/ui/screens/Teams.dart

We have stored the Teams Images in assets. We could use free storage services and host it on a server and instead of **AssetImage** we could use it **CacheNetworkImage**
It would reduce app size and also since it is a cache network Image so the image will be loaded only when the image is changed, other times the widget would directly take

[2020-09-26 19:04] rish07 commented on #272
Hey @himanshusharma89, if the feature request still exists, I would like to work on it during hacktoberfest.

[2020-09-27 06:10] himanshusharma89 commented on #272
Sure, @rish07. We are planning to maintain this repository for Hacktoberfest.

[2020-09-28 20:20] rish07 opened #275 "Google Sign In OAuth2 Security Flaw"
Hey @himanshusharma89
I was going through the app and came across the following issue:
1) I pressed sign in with google on the sign-up page.
2) Didn't select an account and pressed back.
3) The app redirected me to the Dashboard with null values with though I wasn't authenticated.

I am attaching a screenshot of the app being logged in without auth.
![WhatsApp Image 2020-09-29 at 1 50 59 AM](https

[2020-10-01 05:19] himanshusharma89 commented on #272
Hey @rish07, are you working on this issue? Should I assign it to you? And if you need a reference do let me know.

[2020-10-01 05:20] himanshusharma89 commented on #274
Sure @elaishane, should I assign it to you?

[2020-10-01 05:21] himanshusharma89 commented on #275
Go ahead @rish07. Assigning this issue to you.

[2020-10-01 05:25] rish07 commented on #272
Hey, @himanshusharma89, I have actually completed the code. Will create a PR in a while.

[2020-10-01 05:27] himanshusharma89 commented on #272
@rish07 Perfect! and BTW It is implemented with Firebase, right?

[2020-10-01 05:33] rish07 commented on #272
Yes, @himanshusharma89. You will just have to change the CLIENT ID and CLIENT SECRET in the code which you'll get when you create a GitHub oauth app.

I will put these instructions in the PR.

[2020-10-01 05:35] himanshusharma89 commented on #272
Great! @rish07. But we already have the ID and SECRET, I'll share those with you but before that share your email, I'll add you to the firebase console.

[2020-10-01 05:58] rish07 commented on #272
@himanshusharma89 it's rishirajsinghchhabra@gmail.com

[2020-10-01 07:22] himanshusharma89 opened #278 "LinkedIn Authentication"

[2020-10-01 07:22] himanshusharma89 opened #279 "Issue Labeler Workflow"
create a GitHub Action which will automatically label all the new issues created with the Hacktoberfest label.

[2020-10-01 07:23] himanshusharma89 opened #280 "Deploy APK Workflow"

[2020-10-01 11:19] lordvins226 commented on #279
Hello can you provide more details for this issue?

[2020-10-01 11:48] himanshusharma89 commented on #279
@lordvins226 Check this, create a GitHub Action which will automatically label all the new issues created with the Hacktoberfest label.

[2020-10-01 12:04] meta-boy commented on #280
Want me to go ahead with this?

[2020-10-01 12:04] himanshusharma89 commented on #280
Sure @meta-boy

[2020-10-01 14:24] lordvins226 commented on #279
Okay. I will try

[2020-10-01 14:30] himanshusharma89 commented on #279
Great @lordvins226, assigning it to you.

[2020-10-02 06:02] #280 closed

[2020-10-02 08:27] #272 closed

[2020-10-02 13:50] SirusCodes commented on #270
Can you give me more details about this?

[2020-10-02 13:53] SirusCodes commented on #278
I can do this by [this package](https://pub.dev/packages/linkedin_login)

[2020-10-02 14:01] himanshusharma89 commented on #270
@SirusCodes A full screen intro slider when user freshly install the app before registration.

[2020-10-02 14:08] himanshusharma89 commented on #278
Okay, @SirusCodes go ahead. Assigning it to you.

[2020-10-02 14:08] SirusCodes commented on #270
Ok I can do this you can assign me this and provide me with assets

[2020-10-02 14:09] SirusCodes commented on #278
Yup Thanks👍

[2020-10-02 17:01] SirusCodes commented on #278
@himanshusharma89 can you give me client id and client secret?
You can send me a mail or message me any social media

[2020-10-03 01:49] himanshusharma89 commented on #278
@SirusCodes you can create an example app yourself and try it, I'll change it after merging it

[2020-10-03 04:18] himanshusharma89 commented on #270
Hey @SirusCodes we don't have a specific asset you can use some vectors design for this.

[2020-10-03 05:25] SirusCodes commented on #278
Can you give me your android debug key or will you add mine to the project?
I also need to use [custom token](https://firebase.google.com/docs/auth/admin/create-custom-tokens) as firebase doesn't support LinkedIn login natively
Also please do the required in firebase as in the link above

[2020-10-03 06:08] himanshusharma89 commented on #278
@SirusCodes share me your gmail, I'll add you to the project in the console.

[2020-10-03 06:41] SirusCodes commented on #278
darshandrander@gmail.com

[2020-10-03 08:07] #271 closed

[2020-10-03 09:13] SirusCodes commented on #270
@himanshusharma89 how does this looks?
![Intro screen](https://user-images.githubusercontent.com/50910066/94987810-c1327c80-0586-11eb-93d8-ef720248c952.gif)

[2020-10-03 09:18] himanshusharma89 commented on #270
Yeah @SirusCodes Looks good, create a PR. I hope you used dynamic methods for creating this.

[2020-10-03 09:18] SirusCodes commented on #270
Yes yes

[2020-10-03 09:19] himanshusharma89 commented on #270
Cool

[2020-10-03 09:22] himanshusharma89 commented on #275
Any update @rish07?

[2020-10-03 09:23] #231 closed

[2020-10-03 09:24] rish07 commented on #275
Hey @himanshusharma89,
I actually have an exam tomorrow so I'll fix it by tomorrow evening.

[2020-10-03 09:24] #267 closed

[2020-10-03 09:25] himanshusharma89 commented on #275
Okay, @rish07. Good luck.

[2020-10-03 09:25] himanshusharma89 commented on #278
@SirusCodes I have added you to the console, you can work on it now.

[2020-10-03 09:26] himanshusharma89 commented on #279
Hey @lordvins226, any update?

[2020-10-03 09:27] SirusCodes commented on #278
I got the notification I would start working on it soon...

[2020-10-03 10:01] himanshusharma89 commented on #254
This error is caused due to wrong mapping of User info with Google Auth, closing it. #275

[2020-10-03 10:01] #254 closed

[2020-10-03 10:03] himanshusharma89 commented on #275
Also, the null value is still there after successful sign-up, but it doesn't occur if we restart the app. I checked the mapping methods, it is fine but still, the issue is there. Have a look into this also.

[2020-10-03 10:16] rish07 commented on #275
Sure

[2020-10-03 10:27] lordvins226 commented on #279
Yes. Sorry for late.

[2020-10-03 10:32] lordvins226 commented on #279
For the greetings file, what's the action?

[2020-10-03 11:28] himanshusharma89 commented on #279
This the greetings action: https://github.com/smaranjitghose/girlscript_app/blob/master/.github/workflows/greetings.yml. You can fix the error and create a PR

[2020-10-03 11:40] lordvins226 commented on #279
i will try this

[2020-10-03 11:41] lordvins226 commented on #274
i can take this. you can upload images on free storage and give link?

[2020-10-03 11:52] SirusCodes commented on #278
Hey @himanshusharma89 I made changes in the application, but linkedin have a review process to allow sign in with linkedin. I don't think that my request would be accepted. So should I make a PR now or something else?

[2020-10-03 12:03] himanshusharma89 commented on #278
@SirusCodes Create a PR from a different branch, I'll label it to be eligible for Hacktoberfest

[2020-10-03 12:34] imyashadulkar commented on #274
Yes

[2020-10-03 12:55] himanshusharma89 commented on #274
@elaishane You are saying yes to work on this issue?

[2020-10-03 12:58] imyashadulkar commented on #274
Yes

[2020-10-03 12:59] imyashadulkar commented on #274
@himanshusharma89 I would be needing a storage location, it their image links.

[2020-10-03 13:06] himanshusharma89 commented on #274
@elaishane Do you have a platform in mind for the deployment of the images?

[2020-10-03 13:36] imyashadulkar commented on #274
I think github would do.

[2020-10-03 14:36] himanshusharma89 commented on #274
Okay @elaishane, so I guess all the assets are already uploaded you can work on it right away check out the assets folder.

[2020-10-03 14:37] imyashadulkar commented on #274
Sure. Thank you

[2020-10-03 15:12] #270 closed

[2020-10-03 15:15] SirusCodes commented on #278
@himanshusharma89 why #285 is not counted as eligible PR for hacktoberfest?

[2020-10-03 15:17] himanshusharma89 commented on #278
@SirusCodes Hacktoberfst added new rules against spamming, I'll add a label and it'll be counted. Check this: https://hacktoberfest.digitalocean.com/hacktoberfest-update

[2020-10-03 15:18] himanshusharma89 commented on #278
@SirusCodes Check it now

[2020-10-03 15:24] SirusCodes commented on #278
@himanshusharma89 Not yet...maybe it will take some time I guess...thanks😃

[2020-10-03 16:41] arbazdiwan commented on #275
@himanshusharma89, I would like to solve this issue if @rish07 is facing any problems.

[2020-10-03 16:52] himanshusharma89 commented on #275
@arbazdiwan, @rish07 will work on it and update us soon

[2020-10-03 16:54] arbazdiwan commented on #275
ok Himanshu

On Sat, 3 Oct 2020, 10:22 pm HIMANSHU SHARMA, <notifications@github.com>
wrote:

[2020-10-05 05:24] #275 closed

[2020-10-05 13:13] himanshusharma89 commented on #279
Any update? @lordvins226

[2020-10-06 08:56] lordvins226 commented on #279
Hi. I made test for greetings workflow, but actions use in file check if it's the contributors first time for create issue or pull request. it's this task we want to achieve?

[2020-10-06 09:04] himanshusharma89 commented on #279
@lordvins226 The main task was to create the labeler action. the greetings one was proposed by you. No PR is submitted for the labeler issue

[2020-10-06 09:13] lordvins226 commented on #279
i already make PR for labeler issue. it's still about greetings PR

[2020-10-06 09:16] himanshusharma89 commented on #279
@lordvins226 Oh my bad, I am closing this issue. Create a new issue and I'll assign it to you and yes this is the task.

[2020-10-06 09:16] #279 closed

[2020-10-06 09:46] lordvins226 opened #287 "greetings workflow"
create a GitHub Action which will automatically comment all the new issues and pull request with a message

[2020-10-06 10:08] a-mere-peasant commented on #287
Hey ,could I work on this ?

[2020-10-06 11:08] smaranjitghose commented on #287
We already have a greetings workflow setup

[2020-10-06 11:08] #287 closed

[2020-10-08 17:32] himanshusharma89 commented on #274
Hey @elaishane, any update? and should I assign it to you?

[2020-10-08 17:38] imyashadulkar commented on #274
I am working on it. It would be completed by tomorrow evening

[2020-10-08 17:39] himanshusharma89 commented on #274
Thanks for the update @elaishane. Assigning it to you.

[2020-10-17 04:35] imyashadulkar commented on #274
Hey, @himanshusharma89 I will be needing a link for the images. Like Twitter, Facebook, GitHub but separate repo. A link that would not change even with new changes

[2020-10-17 06:12] himanshusharma89 commented on #274
Hi @elaishane, what about these links:
https://img.icons8.com/fluent/50/000000/github.png
https://img.icons8.com/color/48/000000/twitter.png
https://img.icons8.com/color/48/000000/linkedin.png

You can directly use them in NetworkImage

[2020-10-17 08:29] imyashadulkar commented on #274
Ok

[2021-01-28 08:02] Saransh-cpp commented on #274
Hey @himanshusharma89 , can I work on this issue as no one is working on it?

[2021-01-28 09:09] himanshusharma89 commented on #274
Sure @Saransh-cpp

[2021-01-28 09:38] Saransh-cpp commented on #274
Should I create a new branch? Also after adding cached_network_image dependency in the pubspec.yaml file and running the code in my system, it automatically edited .idea/libraries/Dart_Packages.xml file, should I add this in git or should I push changes without adding this edited file, keeping the old file? Please guide

[2021-01-28 10:32] himanshusharma89 commented on #274
@Saransh-cpp Yeah, create a new branch. And the changes you mentioned are already ignored using .gitignore. You can start working on the issue.

[2021-02-02 05:38] #274 closed

[2021-10-04 16:16] umang-sinha commented on #278
Is this still active? I would like to work on this

[2021-10-04 18:16] himanshusharma89 commented on #278
Sure @umang-sinha, assigning it to you.

[2021-10-04 18:17] himanshusharma89 commented on #278
I am sure @SirusCodes has eyes on some other projects 😆

[2021-10-04 18:35] SirusCodes commented on #278
@himanshusharma89 The issue should be closed by now as the code was complete, @umang-sinha maybe can fix deprecated APIs if any😅

@umang-sinha I would suggest you to continue with this PR.